# MODULO 5
Operadores en python

In [1]:
# suma 
suma = 30 + 12 
print(suma)

42

In [2]:
# Resta 
resta = 30 - 12
print(resta)

18

In [3]:
# Multiplicación
productos = 30 * 12
print(productos)

360

In [4]:
# División
div = 30/12
print(div)

2.5

In [5]:
# Conversion con divisiones
segundos = 1042
display_minutos = 1042 // 60
display_segundos = 1042 % 60

print(display_minutos)
print(display_segundos)

17
22

In [8]:
# Jerarquía de Operaciones
resultado1= 1032 + 26 * 2
resultado2= 1032 + (26*2)
print(resultado1)
print(resultado2)

1084
1084

In [9]:
# Cadenas a numeros 
demo_int = int('215')
print(demo_int)

215

In [10]:
# Flotante 
demo_float = float('215.3')
print(demo_float)

215.3

In [12]:
# Valores absolutos
a = 39 - 16
b = 16 - 39

print(abs(39-16))
print(abs(16-39))

23
23

In [14]:
# Redondeo
print(round(14.5))

14

In [16]:
# Biblioteca Math
from math import ceil, floor

round_up = ceil(12.5)
print(round_up)

round_down = floor(12.5)
print(round_down)

13
12

# EJERCICIOS

Ejersicio 1

In [18]:
distancia_Tierra =149597870
distancia_Jupiter =778547200

In [21]:
distanciakm = distancia_Tierra - distancia_Jupiter
print(distanciakm)

-628949330

In [20]:
distanciamillas = distanciakm * 0.621
print(distanciamillas)

-390577533.93

Ejersicio 2

In [29]:
Mercurio = input('57900000')
Tierra = input('149600000')

In [42]:
MercurioC = int(Mercurio)
TierraC = int(Tierra)

print(MercurioC)

ValueError: invalid literal for int() with base 10: ''

In [38]:
distanciaKm =(MercurioC - TierraC)
print(distanciakm)

-628949330

In [39]:
distancIaMillas = distanciaKm * 0.621
print(abs(distanciamillas))

390577533.93