# MODULO 8
Administrar datos con diccionario

In [ ]:
name = 'Earth'
moons = 1

In [ ]:
earth_name = 'Earth'
earth_moons = 1

jupiter_name = 'Jupiter'
jupiter_moons = 79

In [1]:
# Diccionario 
planet = {
    'name': 'Earth',
    'moons': 1
}

print(planet.get('name'))

# Muestra Earth

Earth

In [3]:
planet.get('name')
print(planet['name'])

# Muestra Earth

Earth

In [11]:
# Modificar valor de un diccioanrio 
planet.update({'name': 'Makemakes'})
print(planet['name'])

#name  ahora es Makemake

Makemakes

In [13]:
# Usando update
planet.update({
    'name': 'Jupiter',
    'moons': 79
})

# Usando corchetes
planet['name'] = 'Jupiter'
planet['moons'] = 79

print(planet['name'])

Jupiter

In [15]:
# Agregar claves 
planet['orbital period'] = 4333
print(planet['orbital period'])

4333

In [16]:
# Eliminar clave
planet.pop('orbital period')

4333

In [17]:
# Datos complejos 
# Añadimos los datos
planet['diameter (km)'] = {
    'polar': 133709,
    'equatorial': 142984
}

# el diccionario planet ahora contiene: {
#   name: 'Jupiter'
#   moons: 79
#   diameter (km): {
#      polar: 133709
#      equatorial: 142984
#   }
# }

In [19]:
print(f'{planet['name']} polar diameter: {planet['diameter (km)']['polar']}')

# Salida: Jupiter polar diameter: 133709

SyntaxError: f-string: unmatched '[' (1127342678.py, line 1)

In [20]:

rainfall = {
    'october': 3.5,
    'november': 4.2,
    'december': 2.1
}

In [26]:
# Imprimir diccionario
for key in rainfall.keys():
    print(f'{key}: {rainfall[key]}cm')

october: 3.5cm
november: 4.2cm
december: 4.1cm

In [25]:
# El valor de december: 2.1cm

# Si, 'december' existe en rainfall
if 'december' in rainfall:
    # rainfall [en la posición december] es igual a
    # rainfall [en la posición december] + 1 (2.1+1)
    rainfall['december'] = rainfall['december'] + 1

# Si no:
else:

    # rainfall [en la posición december] es igual a 1
    rainfall['december'] = 1

# Como december si existe, el valor será 3.1

In [27]:
#Total de precipitaciones 0
total_rainfall = 0

# Para cada valor en los valores de rainfall
for value in rainfall.values():
    
    # El total de las precipitaciones será igual a ese mismo + el valor que se está iterando

    total_rainfall = total_rainfall + value

# Muestra 'Hay un total de precipitaciones (el valor total) en centímetros en el último cuarto (haciendo referencia al cuarto del año)

print(f'There was {total_rainfall}cm in the last quarter')

# Salida:
# There was 10.8cm in the last quarter

There was 11.8cm in the last quarter

# EJERCICIOS

Ejercicio 1

In [30]:
planeta = {
    'nombre': 'Marte',
    'lunas': 2
}

In [31]:
print(f'{planeta["nombre"]} tiene {planeta["lunas"]} lunas')

Marte tiene 2 lunas

In [32]:
# Agregar la nueva clave circunferencia
planeta['circunferencia (km)'] = {
    'polar':6752,
    'equatorial': 6792
}

In [33]:
# Imprimir nombre del planeta con su circunferencia polar
print(f'{planeta["nombre"]} tiene una circunferencia polar de  {planeta["circunferencia (km)"]["polar"]}')

Marte tiene una circunferencia polar de  6752

Ejercicio 2

In [36]:
# Planetas y sus lunas
planet_moons = {
    'mercury': 0,
    'venus': 0,
    'earth': 1,
    'mars': 2,
    'jupiter': 79,
    'saturn': 82,
    'uranus': 27,
    'neptune': 14,
    'pluto': 5,
    'haumea': 2,
    'makemake': 1,
    'eris': 1
}

In [38]:
# Número de lunas
lunas= planet_moons.values()
planetas = len(planet_moons.keys())

In [45]:
# Total de lunas 
total_lunas = 0
for luna in lunas:
    total_lunas = total_lunas + luna

# Promedio
promedio = total_lunas / planetas
print(promedio)

17.833333333333332